<div class="goalkeeper-row" data-js="goalkeeper"></div>
<div class="defenders-row" data-js="defenders"></div>
<div class="midfielders-row" data-js="midfielders"></div>
<div class="forwards-row" data-js="forwards"></div>