<div class="player-picture" data-js="player-picture">
	<img src="./app/imgs/messi_50x50.jpg">
</div>

<a href="#modalPlayer" data-js="player-info">
    {{!-- <div class="player-number-container">{{shirt_number}}</div> --}}
    <div class="player-name">{{name.last}}</div>
    {{!-- {{rating}} --}}
</a>