<div class="progress-circular-container">
    <div class="progress-circular" data-js="player-progress">
        <div class="c100 p50 big">
            <span>{{shirtNumber}}</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
</div>

<a href="#modalPlayer" data-js="player-info">
    <div class="player-name">{{name.last}}</div>
</a>