<div class="goalkeeper-row" data-js="goalkeeper">GOALKEEPER</div>
<div class="defenders-row" data-js="defenders">DEFENDERS</div>
<div class="midfielders-row" data-js="midfielders">MIDFIELDERS</div>
<div class="attackers-row" data-js="attackers">FORWARDS</div>