<div class="score-crest">
    <img src="./app/imgs/escudo_river.png" width="50" height="50">
</div>

<div class="score">
    <div class="score-result">
        <span class="score-home">{{team_home.goals.length}}</span>
        -
        <span class="score-away">{{team_away.goals.length}}</span>
    </div>
    <div class="score-info">
        <span class="score-time">15:47</span>
        <span class="score-period">ST</span>
    </div>
</div>

<div class="score-crest">
    <img src="./app/imgs/escudo_boca.png" width="50" height="50">
</div>