<div class="score-container" data-js="score-region">Score Region</div>

<div class="football-pitch">
    <div class='football-pitch-half-home'>
        <div class="football-pitch-corner-home"></div>
        <div class="football-pitch-big-area-home">
            <div class="football-pitch-small-area-home"></div>
        </div>
        <div class='square-content'>
            <div>
                <span>Aspect ratio 1:1</span>
            </div>
        </div>
    </div>
    <div class='football-pitch-half-away'>
        <div class="football-pitch-corner-away"></div>
        <div class="football-pitch-big-area-away">
            <div class="football-pitch-small-area-away"></div>
        </div>
        <div class='square-content'>
            <div>
                <span>Aspect ratio 1:1</span>
            </div>
        </div>
    </div>
</div>


{{!-- <div class="field-container" data-js="field-region">Field Region</div> --}}