<div class='football-pitch-half-home'>
    <div class="football-pitch-corner-home"></div>
    <div class="football-pitch-big-area-home">
        <div class="football-pitch-small-area-home"></div>
    </div>
    <div class="players" data-js="field-half-home"></div>
</div>
<div class='football-pitch-half-away'>
    <div class="football-pitch-corner-away"></div>
    <div class="football-pitch-big-area-away">
        <div class="football-pitch-small-area-away"></div>
    </div>
    <div class="players" data-js="field-half-away"></div>
</div>