<div class="score-crest-container" data-js="team_home">
    <div class="score-crest">
        <img src="./app/imgs/escudo_river.png" width="35" height="35">
    </div>
</div>

<div class="score">
    <div class="score-result">
        <span class="score-home">{{team_home.score}}</span>
        -
        <span class="score-away">{{team_away.score}}</span>
    </div>
    <div class="score-info">
        <span class="score-time">15:47</span>
        <span class="score-period">ST</span>
    </div>
</div>

<div class="score-crest-container" data-js="team_away">
    <div class="score-crest">
        <img src="./app/imgs/escudo_boca.png" width="35" height="35">
    </div>
</div>