<div class="score-crest">
    <img src="./app/imgs/escudo_river.png" width="35" height="35">
</div>

<div class="score">
    <div class="score-result">
        <span class="score-home">{{team_home.score}}</span>
        -
        <span class="score-away">{{team_away.score}}</span>
    </div>
    <div class="score-info">
        <span class="score-time">15:47</span>
        <span class="score-period">ST</span>
    </div>
</div>

<div class="score-crest">
    <img src="./app/imgs/escudo_boca.png" width="35" height="35">
</div>

{{!-- TODO: crear instancia única de modal, dinámico --}}
<div id="modalTeam" class="modal bottom-sheet">
    <div class="modal-content">
        <ul class="collection with-header">
            <li class="collection-header">
                <h4>Equipo</h4>
            </li>
            <li class="collection-item">
                <div>
                    Alentar<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Aplaudir<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Abuchear<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                </div>
            </li>
      </ul>
    </div>
</div>