body {
    background-color: #ccc;
    font-family: Roboto, Arial, Helvetica, Sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v8/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/* HEADER
---------------------------------------------------------------*/

/*.header-container {
    height: 8vh;
}*/

nav {
    background-color: #03a9f4;
}


/* SCORE
---------------------------------------------------------------*/

.score-container {
    height: auto;
    padding: 10px;
    text-align: center;
}

.score-crest {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.score {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}


/* FIELD
---------------------------------------------------------------*/

.field-container {
    border: 1px solid red;
    height: 80vh;
    padding-left: 10px;
    
}

.field {
    position: relative;
    width: 80%;
}

.field-half {
    background-color: #009900;
    border: 2px solid #fff;
    height: 38vh;
}

.field-half-home {
    border-bottom: 1px solid #fff;
}

.field-half-away {
    border-top: 1px solid #fff;
}

.left-corner-home,
.right-corner-home,
.left-corner-away,
.right-corner-away {
    height: 5%;
    position: absolute;
    width: 8%;
}

.left-corner-home {
    border-radius: 0 0 100% 0;
    top: 0;
    left: 0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.right-corner-home {
    border-radius: 0 0 0 100%;
    top: 0;
    right: 0;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.left-corner-away {
    border-radius: 0 100% 0 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}

.right-corner-away {
    border-radius: 100% 0 0 0;
    bottom: 0;
    right: 0;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}

.large-area-home,
.large-area-away,
.small-area-home,
.small-area-away {
    border: 1px solid white;
    width: 50%;
    position: absolute;
    margin: 0 25%;
}

.large-area-home,
.large-area-away {
    height: 15%;
}

.small-area-home,
.small-area-away {
    height: 40%;
}

.large-area-home,
.small-area-home {
    top: 0;
}

.large-area-away,
.small-area-away {
    bottom: 0;
}


/* Player
---------------------------------------------------------------*/

.players-row {
    text-align: center;
}

.players-row li {
    display: inline-block;
    margin-right: 2%;
    text-align: center;
    width: 18%;
}

.players-row a {
    color: rgba(0, 0, 0, 0.87);
}

.player-number-container {
    background-color: #fff;
    border-radius: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}


/* Modal
---------------------------------------------------------------*/

.modal {
    overflow: visible;
}

.modal .modal-content {
    border-top: 2px solid #03a9f4;
    box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
}

.modal-content .collection {
    border: none;
    margin: -24px;
    overflow: visible;
}

.modal-content .collection.with-header .collection-header {
    padding-top: 50px;
    position: relative;
}

.modal-content .collection.with-header .collection-header,
.modal-content .collection.with-header .collection-item {
    display: block;
    width: 100%;
}

.modal-content .collection.with-header .collection-item {
    text-align: left;
}

.modal-content .collection-header img {
    background-color: #fff;
    border: 2px solid #03a9f4;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .75);
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: -50px;
}




/* Main
---------------------------------------------------------------*/

/*.main-layout {
    height: 100vh;
}*/

/* Field
---------------------------------------------------------------*/

/*
.left-corner-home,
.right-corner-home,
.left-corner-away,
.right-corner-away {
    height: 5%;
    position: absolute;
    width: 5%;
}

.left-corner-home {
    border-radius: 0 0 100% 0;
    top: 0;
    left: 0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.right-corner-home {
    border-radius: 0 0 0 100%;
    top: 0;
    right: 10%;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.left-corner-away {
    border-radius: 0 100% 0 0;
    bottom: 10%;
    left: 0;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}

.right-corner-away {
    border-radius: 100% 0 0 0;
    bottom: 10%;
    right: 10%;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}*/


/* Team
---------------------------------------------------------------*/

/*.team {
    height: 100%;
}

.goalkeeper-row,
.defenders-row,
.midfielders-row,
.forwards-row {
    height: 25%;
}*/


/* Player
---------------------------------------------------------------*/

/*.players-row {
    height: 100%;
    margin: 0;
    text-align: center;
}

.player {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 20%;
}

    .player:first-child {
        margin-left: 0;
    }

    .player:last-child {
        margin-right: 0;
    }

.player-number-container {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 50%;
    width: 50%;
}

.player-name {
    height: 50%;
}*/


/* Header
---------------------------------------------------------------*/

/*header {
    background: #5cb85c;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    height: 8%;
    overflow: hidden;
    padding: 1% 0 1%;
    text-align: center;
}

    header h1 {
        color: #fff;
        font-size: 22px;
        margin: 12px 0 0 10px;
    }

    header i {
        margin-top: 8px;
    }

    header a {
        color: #fff;
        font-family: Arial, Helvetica, Sans-serif;
        margin-top: 8px;
    }*/


/* Tabs
---------------------------------------------------------------*/

/*.tabs-sections {
    height: 5%;
}

    .tabs-sections ul {
        background-color: #000;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .tabs-sections li {
        border-right: 1px solid #ccc;
        color: #fff;
        display: inline-block;
        padding-right: 1%;
    }*/


/* Content
---------------------------------------------------------------*/

/*.content {
    height: 87%;
    position: absolute;
    width: 100%;
}*/


/* Inputs
---------------------------------------------------------------*/

/*input[type="number"],
input[type="text"] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    padding: 0 5px 0 15px;

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}*/


/* Icons
---------------------------------------------------------------*/

/*@font-face {
    font-family: 'vamoyvamo';
    src: url('../../font/vamoyvamo.eot?48356812');
    src: url('../../font/vamoyvamo.eot?48356812#iefix') format('embedded-opentype'),
        url('../../font/vamoyvamo.woff?48356812') format('woff'),
        url('../../font/vamoyvamo.ttf?48356812') format('truetype'),
        url('../../font/vamoyvamo.svg?48356812#vamoyvamo') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: "vamoyvamo";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    speak: none;
    width: 1em;
}

.icon-remove:before {
    content: '\e800';
}*/


/* App
---------------------------------------------------------------*/

/*.app-container {
    position: relative;
    min-height: 90%;
}*/


/* Dropdown
---------------------------------------------------------------*/

/*.dropdown-button {
    z-index: 10;
}

.dropdown-content {
    top: 40px !important;
}*/